*{margin:0;padding:0}
.top{ margin:0 auto; width:110%;
    height:100px;background: #1B7FFF}
.top .l-head{width:1000px;
    height:100px;
    margin: 0 auto;
}
.top .l-head .l-logo{float:left}
.top .l-head .l-visit{color:#FF1510;font-size:24px;}
.top .l-head .l-desc{float: right;color: #FFF ;line-height:100px;font-size:24px;padding-right:123px;}
.lvlogin{width:110%;height:700px;  position:relative }
.lvlogin .l-login{width:500px;height:300px;
    position:absolute;top:0px;
    left:0px}
.lvlogin .l-login p{width:300px;height:40px;
    background:#D5D1FF;border-radius:4px;
    float:left;
    margin:20px}
.lvlogin .l-login p span{width:100px;height:40px;
    font-size:16px;color:#fff;background:#ABABC4;
    float:left;border-radius:4px;line-height:40px;
    text-align:center;
}
.lvlogin .l-login .l-name{width:200px;height:40px;
    font-size:16px;color: #fff;background:#9495A4;
    border-radius:4px;outline:none;border:0px;
    padding:5px;text-align:center;
}
.lvlogin .l-login .l-submit{
    width: 300px;height:40px; border-radius:4px}